.col-sm img {
  width: 80%;
  padding-top: 2rem;
}

.content-padding {
  padding: 1.5rem 0rem 2.5rem 0rem;
}

.title-padding {
  padding-top: 3rem;
}

.bigger{
  margin-top: 1rem;
  font-size: 1.3rem;
  padding: 15px 20px 15px 20px;
}
