<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>Kursy szkoleniowe w INQOO</h1>
      <p></p>
      <!-- <h3>Zdobądź najbardziej przyszłościowe kompetencje w towarzystwie zmotywowanych kursantów i doświadczonych trenerów.</h3> -->
      <p>Przeprowadziliśmy setki kursów, podczas których ponad 6500 kursantów nauczyło się kodować i rozpoczęło swoją karierę w IT.
        Nasze kursy dopasowane są do potrzeb kursantów – możesz postawić jedynie na naukę programowania lub testowania, skorzystać z kursu ze wsparciem naszych Doradców Kariery lub zdecydować się na kurs programowania z gwarancją pracy w branży IT.</p>
      <button type="button" class="btn btn-primary">Sprawdź naszą ofertę</button>
    </div>
     <div class="col-sm">
      <img src="./assets/images/hero.png">
    </div>
  </div>
</div>
