


.col-sm img {
  width: 80%;
  padding-top: 1rem;
}

p {
  padding: 1.5rem 0rem 2.5rem 0rem;
}

h1 {
  padding-top: 3rem;
}

button {
  margin-top: 1rem;
  font-size: 1.3rem;
  padding: 15px 20px 15px 20px;
}
