<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1 class="title-padding">Kursy szkoleniowe w INQOO</h1>

      <p class="content-padding">Przeprowadziliśmy setki kursów, podczas których ponad 6500 kursantów nauczyło się kodować i rozpoczęło swoją karierę w IT.
        Nasze kursy dopasowane są do potrzeb kursantów – możesz postawić jedynie na naukę programowania lub testowania, skorzystać z kursu ze wsparciem naszych Doradców Kariery lub zdecydować się na kurs programowania z gwarancją pracy w branży IT.</p>
      <button type="button" class="btn btn-primary bigger">Sprawdź naszą ofertę</button>
    </div>
     <div class="col-sm">
      <img class="image-padding" src="./assets/images/hero.png">
    </div>
  </div>
</div>
