<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2 class="title">Kim jesteśmy?</h2>

      <h5 class="content">INQOO, to innowacyjna droga do zdobycia zawodu w branży IT, będąca przedsionkiem kariery dla przyszłych programistów.
      </h5>
      <p class="content">Oferujemy pełne szkolenia programistyczne, dając jednocześnie możliwość wejścia do nowoczesnego, dobrze zaprojektowanego świata. INQOO kreuje model funkcjonowania szkoły IT +, opierając się na tworzeniu pomysłów, koncepcji, działań, zespołu i Twojej przyszłości.
      </p>
      <p class="content">W INQOO doskonale wiemy, że jest czas na naukę, ale i na odpoczynek. Jeśli będziesz miał ochotę możemy zagrać razem w FIFĘ, piłkarzyki, urządzić zawody, czy po prostu pochillować w wygodnych fotelach, słuchając muzyki. Masz inne pomysły? Śmiało! Jesteśmy otwarci i nie ma dla nas życzeń niemożliwych do spełnienia.
      </p>
    </div>
     <div class="col-sm">
      <img class='image' src="./assets/images/AboutUs2.jpg" alt="inqoo ekipa" />
    </div>
  </div>
</div>
