<div class="jumbotron p-3 p-md-5 text-white bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Kim jesteśmy?</h1>
      <p class="lead my-3">INQOO, to innowacyjna droga do zdobycia zawodu w branży IT, będąca przedsionkiem kariery dla przyszłych programistów. </p>
      <p class="lead my-2">Oferujemy pełne szkolenia programistyczne, dając jednocześnie możliwość wejścia do nowoczesnego, dobrze zaprojektowanego świata. INQOO kreuje model funkcjonowania szkoły IT +, opierając się na tworzeniu pomysłów, koncepcji, działań, zespołu i Twojej przyszłości. </p>
    </div>
  </div>
<div class="container">
    <div class="row">
      <div class="col-sm">
        W INQOO doskonale wiemy, że jest czas na naukę, ale i na odpoczynek. Jeśli będziesz miał ochotę możemy zagrać razem w FIFĘ, piłkarzyki, urządzić zawody, czy po prostu pochillować w wygodnych fotelach, słuchając muzyki.

Masz inne pomysły? Śmiało! Jesteśmy otwarci i nie ma dla nas życzeń niemożliwych do spełnienia 
      </div>
      <div class="col-sm">
        <img src="./assets/images/aboutUs.jpg" alt="inqoo ekipa" style="display: table; margin: auto"/>
      </div>
      
    </div>
  </div>