.image {
    width: 100%;
    padding-top: 1rem;
  }
  
  .content {
    padding: 1.5rem 0rem 2.5rem 0rem;
  }
  
  .title {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  
  .bigger{
    margin-top: 1rem;
    font-size: 1.3rem;
    padding: 1.5rem 2rem 1.5rem 2rem;
  }
  