@import "../../colorPalette.scss";

.navbar {
  background-color: rgba(31,55,228);
  z-index: 999;
}

.navbar a {
  color: $white-color;
  font-size: 1.2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  background-color: rgba(31,55,228);
  
}
.navbar-static {
  position: sticky;
  top: 0;
  
}
.links{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(31,55,228);
 
}

