@import "../../colorPalette.scss";

.navbar {
  background-color: rgba(31,55,228);
}

.navbar a {
  color: $white-color;
  font-size: 1.2rem;
  margin-right: 2rem;
}
.navbar-static {
  position: sticky;
  top: 0;
  width: 100%;
}
