
<div class="container">
  <div class="row">
    <div class="col-sm">

<h1 class="contactTitle">Kontakt z nami</h1>
<p class="contactText" >
  Jeśli masz ochotę z nami porozmawiać serdecznie zapraszamy do naszego biura pod adresem
 </p>
<p class="address"> ul. Jana III Sobieskiego 2 <br> 40-082 Katowice</p>
</div>
  <div class="col-sm">
<iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2550.5594502163813!2d19.011877315608633!3d50.262811879450005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716cf124db8df21%3A0xb257acab878e5f62!2sINQOO%20-%20Innowacyjne%20Szkolenia%20Programistyczne!5e0!3m2!1spl!2spl!4v1624176977387!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
       <div class="contact">
         <p class="managerName">Jan Kowalski</p>
        <p class="managerContact"> Project Manager<br>
                                    +48 600 500 400<br>
                            jan.kowalski@inqoo.com</p>
       </div>

</div>
