<div class="container">
  <div class="row">

    <div class="-4" *ngFor="let item of category">
    <div class="categoryTile" [routerLink]="['/category', item.name]">{{ item.name }}
      <div class="btn btn-secondary" (mouseenter)="toggleDescription(true)" (mouseleave)="toggleDescription(false)">
        info
      </div>
    <div *ngIf="isShow">
      <div class="card card-body">
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
      </div>
    </div>
    </div>


    </div>
    </div>
    </div>



