@import "../../../../colorPalette.scss";

.container{
  display: flex;
  justify-content: center;

}
.categoryTile {
  text-align: center;
  width: 50rem;
  height:6rem;
  font-size: 2rem;
  margin-top: 1rem;
  color:$white-color;
  background-color: $main-color;
  border-radius: 1rem;

}
.btn-secondary{
  margin-left: 4rem;
  text-align: end;
  font-size: 0.9rem;
  background-color: $main-color;
}
.card-body{
  margin-top: 1rem;
  max-height: 4rem;
  font-size: 1rem;
  background-color:$main-color;
}
