@import "../../../../colorPalette.scss";

.container-sm{
  display: flex;
}
.square {
  width: 12rem;
  height: 12rem;
  margin: 1rem;
  font-size: 2rem;
}

@media screen and (max-width: 760px) {
  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
