<div class="submitForm">
  <form [formGroup]="mailForm">
    <div class="form-group">
      <input
        type="email"
        class="form-control"
        placeholder="Enter e-mail"
        formControlName="emailAddress"
        [ngClass]="
          !mailForm.valid && mailForm.touched ? 'not-valid-input' : 'valid-input'
        "
      />
      <p
        *ngIf="
          !mailForm.controls['emailAddress'].valid &&
          mailForm.controls['emailAddress'].touched
        "
        class="not-valid-text"
      >
        E-mail is not valid
      </p>
    </div>
  </form>
  <button class="btn btn-primary" (click)="submit()">Submit</button>
  </div>
