@import "../../colorPalette.scss";

.showEmailInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 999;
  background-color: $white-color;
  border: 0.25rem solid $blue-input;
  width: auto;
  height: auto;
}

.form-group{
  width: 15rem;
  height: 2.5rem;
}
.not-valid-input {
  border-color: $red-alert;
  color: $red-alert;
}

.valid-input {
  border-color: $green-alert;
  color: $green-alert;
}

.not-valid-text {
  color: $red-alert;
  font-weight: 500;
  padding: 0.5rem;
}
