.bottomFooter {
    position: fixed;
    bottom: 0;
    width: 100%;

}
.text-dark{
  text-decoration: none;
  font-weight:800;
  font-size: 1.1rem;
  margin-right: 3rem;
}


.text-center p-3{
  background-color: rgba(5, 5, 5, 0.2);
}
.icon{
  font-size: 1.5rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}
