@import "../../../../colorPalette.scss";

.container {
  margin-top: 1rem;
  display: flex;
  align-content: center;
  flex-direction: row;
}

.title {
  display: block;
  font-weight: bold;
}

.desc {
  display: block;
}

.info {
  display: block;
  font-style: italic;
  margin: 1rem 0rem 1rem 0rem;
}
.bold{
  font-weight: 650;
}

.list-group-item {
  user-select: none;
}

.checkbox {
  display: none;
}

.checkbox + .list-group-item {
  cursor: pointer;
}

.checkbox:checked + .list-group-item {
  background-color: $blue-input;
  color: $white-color;
}

.checkbox:checked + .list-group-item:before {
  color: inherit;
}




