<div class="container">
  <div class="row">
    <div class="form-check" *ngFor="let item of course">
      <label class="check">
        <input type="checkbox" (click)="courseClick($event, item.name)">
          <span>{{ item.name }}</span>
      </label>
      <span>
        opis: {{ item.description }}, czas trwania: {{ convertDurationToTime(item.duration)| date:'mm:ss' }} minut,
        cena {{ item.price }} zł
      </span>
    </div>
  </div>
  <app-mail-form (mailSubmit)="onEmailSubmit($event)"></app-mail-form>
</div>
