<div class="container">
  <div class="list-group">
    <span *ngFor="let item of course, let i = index">
    <input class="checkbox" type="checkbox" value="{ item.name }" id="checkbox_{{i}}" (click)="courseClick($event, item.name)">
    <label for="checkbox_{{i}}" class="list-group-item">
      <span class="title">{{ item.name }}</span>
      <span class="desc">{{ item.description }}</span>
      <span class="info">(czas trwania: {{ convertDurationToTime(item.duration) | date:'mm:ss'}} minut, koszt: {{ item.price }} zł)</span>
    </label>
    </span>
    <a class="backSite" (click)="categoryUrl">&laquo; Powrót do kategorii</a>
  </div>
  <app-mail-form [showAdnotation]="show()" (mailSubmit)="onEmailSubmit($event)"></app-mail-form>
</div>

