<div class="container">
    <h1>Podsumowanie</h1>
    <p>Dziękujęmy za skorzystanie z naszych usług. Twoje zamówione kursy:</p>
    <div class="form-check">
    <input class="form-check-input" type="checkbox">
    <label class="form-check-label" for="flexCheckChecked">
     Kurs 1
    </label>
    </div>
    <div class="form-check">
    <input class="form-check-input" type="checkbox">
    <label class="form-check-label" for="flexCheckChecked">
      Kurs 2
    </label>
  </div>
  <p>Potwierdzenie zostało wysłane pod adres<span class="emailAdress">jankowalski@gmail.com</span></p>
  
</div>
